<h1><%= @project.name %></h1>
<p>Material: <%= @project.material %></p>
<p>Challenge Theme: <%= @project.challenge.theme %></p>
<section id="contestant-count">
  <p>Number of Contestants: <%= @project.contestant_count %></p>
</section>

<section id ="average-years-exp">
  <%= @project.contestants_average_experience %>
</section>
